@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    font-family: 'Roboto', sans-serif;
    --background: #00747C;
    --color2: #00BBC9;
    --text1: #CACACA;
    --text2: #202022;
}

body, html {
    background-color: var(--background);
    margin: 0;
    padding: 0;
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 16px;
    background-color: var(--color2);
    margin-bottom: 32px;
}
.add-book {
    border: transparent;
    border-radius: 8px;
    padding: 8px;
    background-color: white;
}

.add-book:hover {
    background-color: var(--text1);
    cursor: pointer;
}

.main-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.bookcase {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.display {
    display: none;
}
.book-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 250px;
    padding: 5px 5px 5px 5px;
    border-radius: 8px;
}

.book-info {
    margin: 0;
    padding: 2px;
    font-size: 15px;
    display: flex;
    justify-content: left;
    align-items: center;
}

.book-card p {
    margin: 0;
    padding: 2px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 240px;
    font-size: 12px;
}

#form-content {
    display: none;
}

#form-book {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 200px;
    padding: 10px;
    border-radius: 8px;
    background-color: var(--color2);
    color: var(--text2);
}

#form-book input {
    border: transparent;
    border-radius: 8px;
    padding: 8px;
}

#button-submit {
    border: transparent;
    border-radius: 8px;
    padding: 8px;
    background-color: white;
}

#button-submit:hover {
    background-color: var(--text1);
    cursor: pointer;
}

